body{
    padding: 0;
    margin: 0;
    background-color: #252525;
}

*{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

*::selection{
    background-color: rgba(255, 47, 92, 0.568);
}

.wrapper{
    max-width: 1220px;
    margin: 0 auto;
}

header{
    background-color: #101010;
    width: 100%;
    height: 60px;
    color: #ffffff;
}

.first-screen{
    background-color: #101010;
    height: 500px;
    width: 100%;
}

.first-screen>.wrapper{
    width: 880px;
}

header>.wrapper>nav{
    display: flex;
    justify-content: space-between;
}

.nav-li{
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 19px;
    margin-left: 50px;
    display: inline-block;
    float: right;
}

.nav-logo{
    list-style: none;
    padding-top: 19px;
}

.burger-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    display: none;
}

.burger-span{
    width: 34px;
    height: 3px;
    display: block;
    border-radius: 2px;
    background: #fff;
}

.burger-span + .burger-span{
    margin-top: 7px;
}

.first-logo{
    font-weight: 700;
    font-size: 84px;
    line-height: 102px;
    width: 292px;
    margin: 0 auto;
    padding-top: 129px;
}

.first-text{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
}

.first-screen>.wrapper>a{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 700;
    background-color: #101010;
    border: 1px solid transparent;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    width: 140px;
    transition: 0.25s;
    border-color: #fff;
    color: #fff;
}

.first-screen>.wrapper>a:hover{
    background-color: rgb(255, 255, 255);
    border-color: #000000;
    color: #000000;  
    font-size: 1.25rem;
}

.benefits{
    width: 100%;
    height: 560px;
}

.benefits>.wrapper{
    max-width: 880px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 440px;
    height: 230px;
}

.card>h2{
    margin: 0 auto;
    font-weight: 800;
    font-size: 20px;
    width: 340px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card>p{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    width: 340px;
    margin: 0 auto;
}

.card-img{
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 195px;
    
}

.quote{
    width: 100%;
    height: 255px;
    background-color: #2D2D2D;
}

.quote>.wrapper{
    max-width: 880px;
}

.quote-text{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 58px;
}

.quote-author{
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 25px;
}

.aboutUs{
    height: 630px;
    width: 100%;
}

.aboutUs>.wrapper{
    max-width: 1128px;
    display: flex;
    justify-content: space-between;
}

.about-img{
    margin-top: 56px;
}

.about-h2{
    margin-top: 56px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 25px;
}

.about-p{
    width: 463px;
    font-weight: 500;
    font-size: 18px;
}

.sendAplycation{
    background-color: #101010;
    height: 443px;
    width: 100%;
}

.sendAplycation>.wrapper{
    max-width: 400px;
}

footer{
    background-color: #101010;
    height: 60px;
    width: 100%;
}

footer>.wrapper{
    max-width: 900px;
}

.privacy>.nav-footer-li{
    float: right;
}

.rights>.nav-footer-li{
    margin-left:196px;
}

.nav-footer-li{
    display: inline-block;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

.toOrder{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-top: 44px;
}

.input-send{
    background: #101010;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 13px 30px;
    width: 400px;
    height: 40px;
}

.input-send::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.sendBtn{
    box-sizing: border-box;
    width: 186px;
    height: 40px;
    background: #101010;
    border: 2px solid #FFFFFF;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 107px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
}

.form-name{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 90px;
    margin-top: 23px;
}

.form-email{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 90px;
    margin-top: 25px;
}

.form-phone{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    width: 90px;
    margin-top: 25px;
}

.nav-footer{
    height: 60px;
}

.burger__menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 300px;
    background: #101010;
    margin-left: auto;
    transform: translateX(100%);
    transition: all .2s;
    height: 100vh;
}

.burger__menu-btn{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.burger-link{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 20px;
}

.burger__menu.--show{
    transform: translateX(0%);
}

.burger-link{
    background: transparent;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1240px){

    .wrapper{
        max-width: 1100px;
    }

    .aboutUs>.wrapper{
        max-width: 1100px;
    }
    
}

@media screen and (max-width: 1130px) {
    .wrapper{
        max-width: 990px;
    }
}

@media screen and (max-width: 1010px){
    .wrapper{
        max-width: 850px;
    }
}

@media screen and (max-width: 990px) {
    .about-img{
        display: none;
    }

    .aboutUs>.wrapper{
        max-width: 400px;
    }

    .about-h2{
        width: 400px;
        margin-right: 0;
        text-align: center;
    }

    .about-p{
        margin-right: 0;
    }

}

@media screen and (max-width: 920px){
    .quote-text{
        font-size: 26px;
        width: 700px;
        margin: 0 auto;
    }
    .quote-author{
        padding-top: 15px;
        height: 25px;
        font-size: 20px;
    }
    .rights>.nav-footer-li{
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        width: 279px;
        text-align: center;
    }
} 

@media screen and (max-width: 900px) {
    .benefits{
        height: auto;
    }

    .benefits>.wrapper{
        width: 440px;
    }
}

@media screen and (max-width: 870px) {
    .first-text{
        font-size: 26px;
    }

    .wrapper{
        max-width: 750px;
    }
}

@media screen and (max-width: 770px) {
    .wrapper{
        max-width: 610px;
    }
    .quote-text{
        font-size: 18px;
        line-height: 30px;
        width: 470px;
    }
    .quote-author{
        padding-top: 0;
    }
}

@media screen and (max-width: 630px) {
    .wrapper{
        max-width: 470px;
    }

    .first-logo{
        font-size: 60px;
        text-align: center;
    }

    .first-text{
        font-size: 20px;
        line-height: 25px;
    }

    .nav-li{
        font-size: 14px;
    }

    .scrollTo2{
        font-size: 16px;
    }
    .rights>.nav-footer-li{
        width: 220px;
        
    }
    .nav-footer-li{
        font-size: 14px;
    }
}

@media screen and (max-width: 490px) {
    header>.wrapper{
        max-width: 470px;
    }
    .wrapper{
        max-width: 400px;
    }

    .first-text{
        font-size: 16px;
    }
    .benefits>.wrapper{
        max-width: 340px;
    }
    .card-img{
        margin: 40px 0 0 145px;
    }
    .card{
        width: 340px;
    }
    .about-h2{
        font-size: 28px;
        max-width: 370px;
        margin-top: 30px;
    }
    .about-p{
        font-size: 14px;
        max-width: 370px;
    }
    .aboutUs>.wrapper{
        max-width: 370px;
    }
    .aboutUs{
        height: 450px;
    }
    .quote-text{
        font-size: 14px;
        line-height: 20px;
        width: 370px;
    }
    .quote{
        height: 200px;
    }
}

@media screen and (max-width: 450px) {
    .nav-li{
        margin-left: 20px;
    }
    .rights>.nav-footer-li{
        width: 155px;
    }
}

@media screen and (max-width: 420px){
    .first-text{
        font-size: 14px;
    }
    .first-logo{
        font-size: 50px;
        line-height: 60px;
    }
    header>.wrapper{
        max-width: 470px;
    }
    .wrapper{
        max-width: 350px;
    }
    .sendAplycation>.wrapper{
        max-width: 350px;
    }
    .input-send{
        width: 350px;
    }
    .sendBtn{
        margin-top: 15px;
        margin-left: 82px;
    }
}

@media screen and (max-width: 400px){
    .nav-ul{
        display: none;
    }
    .burger-btn{
        display: block;
    }
}

@media screen and (max-width: 390px){
    .about-p{
        width: 320px;
    }
    .about-h2{
        width: 320px;
    }
    .aboutUs>.wrapper{
        max-width: 320px;
    }
    .aboutUs{
        height: 480px;
    }
    .quote-text{
        padding-top: 30px;
        width: 340px;
    }
    .quote{
        height: 130px;
    }
    footer>.wrapper{
       max-width: 155px;
    }
    footer{
        height: 150px;
    }
    .nav-footer>a>.nav-logo>img{
        margin-left: 23px;
    }
    .privacy>.nav-footer-li{
        float: none;
        margin-left: 27px;
    }
}
